.area{
  bottom: 0px;
  background-color: gold;
  height: 100%;
  width: 100%;
}
.bgimage{
  background-image: url('../images/Taxi-Fotolia.jpg');
  background-size: cover;
  background-position: center center;
  height: 400px;
  width: 100%;
  margin-top: 3%;
}

.item {
  padding-left: 14%;
  padding-right: 10%;
  padding-top: 4%;
}
@media(max-width: 768px){

.item {
  padding-left: 28%;
  padding-right: 20%;
  padding-top: 2%;
}
}

.myimg{
padding-bottom: 20%;
padding-right: 20%;
padding-top: 3%;
  display: block;
  width: 100%;
}
.myimg:hover{ 
color: gold;
  
}

.Smap{
  height: 500px;
  width: 600px;

  }
#map {
   height:100%;
   width: 100%;
   padding-top: 2%;
 }

#main{
height: 1150px;
width: 100%; 
  position: absolute;
}


.help{
  position: absolute;

}
.dropdown:hover .dropdown-menu{
  display: block;
}
#da{
  display: none;
}
